<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
    </appSettings>
    <connectionStrings>
        <add name="StrongBox.WinForms.Properties.Settings.StrongBoxDBConnectionString"
            connectionString="Data Source=PEGASUS\SQLEXPRESS;Initial Catalog=StrongBoxDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>